// html body css
@mixin body{
    transition:all 0.2s ease-in-out;
    height:100%;
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
// html body hover css
@mixin body-hover{
    transition:all 0.2s ease-in-out;
    outline: none;
    text-decoration: none;
}

// font-style define
@mixin font($font-family,$f-size,$color,$line-height,){
    font-family: $font-family;
    font-size:$f-size;
    color:$color;
    line-height:$line-height;
    padding:0;
    margin: 0;
}

@mixin style($font-path, $font-name, $f-size){
    @font-face {
        font-family: $font-name;
        src: url($font-path);
    }
    font-family: $font-name, "sans serif"; 
    font-size:$f-size;
}

// list-item style define
@mixin list-item{
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

// flex-proparaty define here
@mixin flex-prop($direction){
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction:$direction;
}

// position-proparaty define here
@mixin position($position){
    position:$position;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width:100%;
    height:100%;
}

// Button-proparaty define here
@mixin button($radious,$bg-color){
    outline: none;
    border: none;
    cursor: pointer;
    border-radius:$radious;
    background-color: $bg-color;
    :focus{
        outline: none;
        border: none;
        box-shadow: none;
    }
}

@mixin cmn-button{
    background:$main-color;
    color:$white;
    width:100%;
    max-width:165px;
    height:45px;
}

@mixin car-button{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $white;
    background: $secondary-color;
    &:hover{
        background: $main-color;
    }
}


// background image proparaty define here
@mixin image{
    width:100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// display proparaty define here
@mixin display($display,$align,$j-content,$dir){
    display:$display;
  align-items:$align;
  justify-content:$j-content;
  flex-direction:$dir;
}

// input fild proparaty define here
@mixin input($max-width,){
    border: 1px solid $line;
    border-radius: 10px;
    width: 100%;
    max-width:$max-width ;
    outline: none;
    height: 47px;
    font-size: $f-14;
    font-family: 'PoppinsRegular';
    color: $secondary-color;
}